//
   Created by gulgu on 19.12.2015.

.product
    .ten.columns.offset-by-one
        .image: img(ng-src="{{ product.img }}").u-max-full-width
        .content
            .seven.columns
                .name {{ product.name }}
                .price {{ product.price }} TL
            .five.columns
                .addChart.button.u-max-full-width Satın Al