//
   Created by talha on 23.12.2015.
extends ../admin_layout

block content
    .row(ng-controller="CinemaController as Ctrl", ng-init="cineCompany = #{JSON.stringify(company)}")
        .row
            h3(style="text-align: center") {{ cineCompany.name }}
        .twelve.columns
            form(ng-submit="addCinema()", method="post")
                .row
                    .ten.columns.offset-by-one
                        input(type="text", placeholder="Cinema Name", name="cname", id="cname", ng-model="newCinema.name", required).u-full-width
                        input(type="text", placeholder="Cinema Town", name="ctown", id="ctown", ng-model="newCinema.town", style="width:49%", required)
                        input(type="text", placeholder="Cinema City", name="ccity", id="ccity", ng-model="newCinema.city", style="width:49%", required).pull-right
                        .twelve.columns
                            input(type="submit", value="Add Cinema").button-primary.button.u-pull-right
        table.u-full-width.admin-table
            thead
                tr
                    th #
                    th Name
                    th Town
                    th City
                    th List Halls
                    th Update
                    th Delete
            tbody
                tr(ng-repeat="cinema in cinemas")
                    td {{cinema.id}}
                    td: input(type="text", ng-model="cinema.name").u-full-width
                    td: input(type="text", ng-model="cinema.town").u-full-width
                    td: input(type="text", ng-model="cinema.city").u-full-width
                    td: a(href="/admin/dashboard/cinecompanies/{{cinema.cineCompany}}/cinemas/{{cinema.id}}/cinehalls").button Cine Halls
                    td
                        button.button.button-update(ng-click="update($index)")
                            i.fa-wrench.fa-2x.fa
                    td
                        button.button.button-delete(ng-click="delete($index)")
                            i.fa-trash-o.fa-2x.fa